body {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  color: #333;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #009688;
  text-align: center;
}

input {
  padding: 8px;
  border: 2px solid #009688;
  border-radius: 4px;
  margin-left: 750px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #FF9800;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


